/* Shared styling */

.header {
    justify-content: center;
    background-color: #27293D;
    padding: 20px;
    border-radius: 10px;
}

.button {
    color: #fff;
    background-color: #D84FD2;
    border-radius: 25px;
    border-color: #fff;
    size: 10px;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}

.button-disabled {
    color: #fff;
    font-weight: bold;
    background-color: #8B4FD8;
    border-radius: 25px;
    border-color: #fff;
    size: 15px;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}

.body {
    background-color: #1C1C2C;
    padding: 10px;
    height:auto;
    padding-bottom: 0;
    margin: 0;
}

.divider {
    width: 60px;
    height: auto;
    display: inline-block;
}

.title {
    color: #fff;
    font-size: 85px;
    font-weight: 100;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

#footer {
    background-color: #1C1C2C !important;
    margin: 10px;
}


/* Home Styling */

.home-wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 90vh;
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-areas:
        'content1 content2';
}

.home-one {
    grid-area: content1;
    background-color: #27293D;
    border-radius: 10px;
}

.home-two {
    grid-area: content2;
    background-color: #27293D;
    border-radius: 10px;
}

.home-three {
    grid-area: content3;
    background-color: #27293D;
    border-radius: 20px;
}

.home-four {
    grid-area: content4;
    background-color: #27293D;
    border-radius: 20px;
}

.button-start {
    color: #fff;
    background-color: #D84FD2;
    border-radius: 25px;
    border-color: #fff;
    border: .1px solid none;
    size: 10px;
    width: 100%;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
}


/* Salary Styling */
.salary-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr;
    margin-top: 80px;
    height: 80vh;
    border-radius: 10px;
    background-color: #27293D;
}

.salary-one {
    order: 1;
    z-index: 2;
    padding: 10px;
    padding-bottom: 10px;
}

.salary-two {
    position: relative;
    /*margin-top: 20vh;*/
    order: 2;
}

#Salary-Range-Slider .rc-slider-track {
    background-color: #D84FD2;
}

#Job-Display-Max .rc-slider-track {
    background-color: #D84FD2;
}


/* Field Styling */
.field-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-bottom: 10px;
    grid-template-areas:
        'content1 content2';
}

.field-one {
    background-color: #27293D;
    margin-top: 20px;
    grid-area: content1;
    border-radius: 10px;
}

.field-two {
    background-color: #27293D;
    margin-top: 20px;
    grid-area: content2;
    border-radius: 10px;
}

#FoS .Select, .Select div, .Select input, .Select span, .Select-value {
    color: white !important;
    border-radius: 25px;
    padding: 5px;
}

#FoS .Select-value {
    margin-top: 5px;
    margin-left: 15px;
}

#FoS .Select div, .Select input, .Select span {
    background-color: #27293D;
}


/* Prediction Styling */
.prediction-wrapper {
    display: grid;
    grid-template-columns: 800px 1fr;
    grid-template-rows: 65vh;
    grid-gap: 10px;
    padding-bottom: 10px;
    grid-template-areas:
        'content1 content2';
}

.prediction-one {
    margin-top: 20px;
    grid-area: content1;
    border-radius: 10px;
}

.prediction-two {
    background-color: #27293D;
    margin-top: 20px;
    grid-area: content2;
    border-radius: 10px;
}

.prediction-three {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.prediction-prompt {
    padding-top: 20px;
    color: white;
    padding-right: 20px;
    width: 50%;
}

#input_creds .Select, .Select div, .Select input, .Select span, .Select-value {
    color: white !important;
    border-radius: 25px;
    padding: 5px;
}

#input_creds .Select div, .Select input, .Select span {
    background-color: #27293D;
}

#input_field .Select, .Select div, .Select input, .Select span, .Select-value {
    color: white !important;
    border-radius: 25px;
    padding: 5px;
}

#input_field .Select div, .Select input, .Select span {
    background-color: #27293D;
}

#input_years .Select, .Select div, .Select input, .Select span, .Select-value {
    color: white !important;
    border-radius: 25px;
    padding: 5px;
}

#input_years .Select div, .Select input, .Select span {
    background-color: #27293D;
}